---
t:
    ru:
        title: 'Фонд социального развития "Құмай"'
        description: Фонд социального развития «Құмай» реализует благотворительные проекты в области здравоохранения и образования для помощи детям.
        doSearch: Поиск
        pages:
          - link: "/ru/"
            title: Главная

          - link: "/ru/news/"
            title: Новости

          - link: "/ru/about/"
            title: О фонде
            
          - link: "/ru/projects/"
            title: Наши проекты
        withLove: '«Фонд социального развития «Құмай» - с любовью к ближнему.'

    kk:
        title: '"Құмай" қоғамдық даму қоры'
        description: '«Құмай» қоғамдық даму қоры денсаулық сақтау және білім беру саласында балаларға көмек көрсету мақсатында қайырымдылық жобаларын жүзеге асыруда.'
        doSearch: Іздеу
        pages:
          - link: "/kk/"
            title: "Басты"

          - link: "/kk/news/"
            title: "Жаңалықтар"

          - link: "/kk/about/"
            title: "Қор туралы"

          - link: "/kk/projects/"
            title: "Біздің жобалар"
        withLove: '«Құмай» қоғамдық даму қоры – көршіге деген сүйіспеншілікпен.'

scripts: []
styles: []

contacts:
  - icon: instagram
    link: https://www.instagram.com/qumai_fond
  - icon: facebook
    link: https://www.facebook.com/groups/qumaifond
  - icon: whatsapp
    link: https://wa.me/+77012999905
  - icon: tiktok
    link: https://www.tiktok.com/@qumai_fond
---

doctype html
html 
    head 
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto&family=Rubik:wght@400;500;700&display=swap")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css")
        link(rel="stylesheet" href="/assets/css/style.css" inline)
        link(rel="stylesheet" href="/assets/css/markdown.css" inline)
        
        if noTitleInHead
            title= t[lang].title
        else
            title= `${title} • ${t[lang].title}`

        meta(name="description", content=t[lang].description)
        link(rel="icon" href="/assets/img/icon.png" type="image/png")
        
        //- Google analytics
        script(src="https://www.googletagmanager.com/gtag/js?id=G-XZR40GK7XX" async)
        script
            | window.dataLayer = window.dataLayer || [];
            | function gtag(){dataLayer.push(arguments);}
            | gtag('js', new Date());
            | gtag('config', 'G-XZR40GK7XX');
            
        each href in styles
            link(rel="stylesheet" href=href)

        each src in scripts
            script(src=src defer)

    body.flex.flex-col.min-h-screen.font-roboto.text-primary-black
        header.bg-white.relative.z-20
            .max-w-screen-xl.w-full.mx-auto.p-4.flex.items-center.justify-between.gap-4
                a(href=`/${lang}` class="sm:w-36").flex.items-center.gap-2.shrink-0.mr-2
                    img(src="/assets/img/logo.svg" alt="Logo" inline)

                //- Desktop search
                form(action=`/${lang}/search/` class="sm:flex").hidden.w-full.max-w-xl
                    input(name="q" placeholder=t[lang].doSearch).bg-gray-50.flex-grow.px-4.py-2.rounded-tl-full.rounded-bl-full.border-y.border-l.border-gray-300
                    button.px-4.py-2.border.border-gray-300.rounded-tr-full.rounded-br-full
                        i.fa-solid.fa-search.text-primary-black
                        
                .flex.gap-4
                    //- Mobile search
                    a(href="#search-modal" class="sm:hidden").flex.items-center.gap-2.bg-white.rounded-xl.px-4.py-3
                        i.fa-solid.fa-search.text-primary-black

                    //- Desktop lang switcher
                    button(class="sm:block" data-focusable).hidden.px-4.py-2.rounded-xl.bg-white.relative.group.text-primary-black
                        .flex.gap-2.items-center
                            span.uppercase= lang
                            i.fa-solid.fa-chevron-down.text-xs

                        div(data-focusable-item="opacity-0 -translate-y-1").invisible.absolute.top-full.bg-white.left-0.right-0.px-4.py-2.rounded-xl.z-20.border.border-gray-300.transition-all.opacity-0.-translate-y-1
                            each alternate in alternates
                                if alternate.data.lang !== lang
                                    a(href= value=alternate.data.url).uppercase.block.text-primary-black.text-left.font-medium= alternate.data.lang
                    
                    //- Desktop socials
                    div(class="sm:flex").hidden.gap-2.w-full.justify-center
                        each contact in contacts
                            a(href=contact.link target="_blank").flex.items-center.justify-center.w-12.h-12.rounded-xl.bg-white
                                i(class=`fa-brands fa-${contact.icon}`).text-2xl.text-primary-gray

        nav.sticky.top-0.bg-white.border-b.z-10
            .max-w-screen-xl.w-full.mx-auto.px-4.py-2.flex.justify-between.items-center
                //- Mobile links
                button(class="sm:hidden" data-focusable).flex.items-center.gap-2.bg-white.rounded-xl.p-2.group.text-primary-black
                    i.fa-solid.fa-bars
                    span Меню
                    
                    div(data-focusable-item="opacity-0 -translate-y-1").invisible.absolute.top-full.left-0.right-0.border-t.border-gray-300.transition-all.opacity-0.-translate-y-1
                        .bg-white.shadow.py-2
                            each page in t[lang].pages
                                a(href=page.link class=`${page.link === url ? 'text-primary-tiffany' : 'text-primary-black'}`).px-6.py-2.w-full.block.text-left= page.title


                //- Mobile lang switcher
                button(class="sm:hidden" data-focusable).p-2.rounded-xl.bg-white.relative.group.text-primary-black
                    .flex.gap-2.items-center
                        span.uppercase= lang
                        i.fa-solid.fa-chevron-down.text-xs

                    div(data-focusable-item="opacity-0 -translate-y-1").invisible.absolute.top-full.bg-white.left-0.right-0.px-4.py-2.rounded-xl.border.border-gray-300.z-10.transition-all.opacity-0.-translate-y-1
                        each alternate in alternates
                            if alternate.data.lang !== lang
                                a(href= value=alternate.data.url).uppercase.block.text-primary-black.text-left= alternate.data.lang
                                
                //- Desktop links
                div(class="sm:flex").hidden.py-2.w-full
                    each page in t[lang].pages
                        a(href=page.link class=`${page.link === url ? 'text-primary-tiffany' : 'text-primary-black'}`).w-full.block.text-center= page.title

        main.flex-grow!=content

        footer.py-8.border-t.border-gray-300
            .max-w-screen-xl.w-full.mx-auto.px-4.py-2.flex.flex-col.gap-8
                div(class="sm:flex-row").flex.flex-col.gap-8
                    .space-y-4.w-full
                        a(href=`/${lang}`).inline-block
                            img(src="/assets/img/logo.svg" alt="Logo" inline)

                    .space-y-4.w-full
                        p.text-primary-black.font-rubik= t[lang].withLove

                        .space-y-2
                            p.text-primary-gray.text-sm
                                span Тел: 
                                a(href="tel:+7 (701) 100 06 76").underline +7 (701) 299 99 05

                            p.text-primary-gray.text-sm 
                                span Email: 
                                a(href="mailto:info@qumaifond.kz").underline info@qumaifond.kz

                        .flex.gap-4
                            each contact in contacts
                                a(href=contact.link target="_blank").flex.items-center.justify-center.w-12.h-12.rounded-full
                                    i(class=`fa-brands fa-${contact.icon}`).text-2xl.text-primary-gray

        //- Modals
        div(id="search-modal" class="invisible target:visible opacity-0 target:opacity-100 transition-all fixed top-0 left-0 right-0 bottom-0 sm:hidden z-30 group")
            form(id="search" action=`/${lang}/search/`)
                input(name="q" placeholder=t[lang].doSearch).bg-white.w-full.p-4

            a(href="#" class="absolute top-0 left-0 right-0 bottom-0 bg-black/75 -z-10")

        //- Elements with dropdown
        script(src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/moment.min.js")
        script(src=`https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.4/locale/${lang}.min.js`)
        script(src="/assets/js/relative-time.js" inline)
        script(src="/assets/js/focusable.js" inline)