---
layout: default-layout.pug
---

section(class="sm:py-16").py-8
    .max-w-screen-md.w-full.mx-auto.px-4
        h2.text-3xl.font-medium.mb-8.font-rubik= title

        .space-y-8
            time.block.text-xs.text-primary-gray.text-ellipsis.overflow-hidden.whitespace-nowrap= `${date.toLocaleDateString('ru-RU')} ${date.toLocaleTimeString('ru-RU')}`

            img(src=preview_image, alt="Preview").rounded-bl-3xl.rounded-tr-3xl

            .markdown!= content