---
layout: default-layout.pug
images: []
---

section(class="sm:py-16").py-8
    .max-w-screen-xl.w-full.mx-auto.px-4
        h2.text-2xl.font-medium.mb-8.text-center.font-rubik= title

        div(class="sm:flex-row sm:items-start").flex.flex-col.gap-8
            a(href=main_image target="_blank" class="sm:w-[400px] sm:shrink-0 hover:opacity-90 sm:h-max").w-full
                img(src=main_image alt="Project photography").rounded-bl-3xl.rounded-tr-3xl.w-full.h-full.object-cover

            .flex.flex-col.gap-8
                .flex.gap-4.overflow-auto
                    each image in images
                        a(href=image target="_blank" class="hover:opacity-90").h-40.shrink-0
                            img(src=image alt="Project photography").w-full.h-full.object-cover.rounded-xl

                .markdown!= content