---
ru:
    title: О фонде
    createdFor: '<b>«Фонд социального развития «Құмай»</b> - некоммерческая организация, созданная с целью'
    goals:
      - title: удовлетворения профессиональных и любительских интересов граждан;
        icon: lightbulb
      - title: реализации и защиты социальных и культурных прав и свобод, развитие активности граждан;
        icon: shield
      - title: социально-экономическое развитие регионов Республики Казахстан;
        icon: thumbs-up
      - title: сотрудничества и взаимодействия с аналогичными общественными международными и казахстанскими организациями;
        icon: handshake
      - title: проведения культурно-просветительной, спортивно-оздоровительной работы.
        icon: seedling
    presidentSay: Обращение президента
    quotes:
        - 'Быть благотворителем можно независимо от возраста, материального достатка и физических способностей. Мое знакомство с благотворительностью началось еще в школе. Мы с классом ходили в детские дома переодеваясь в аниматоров и устраивали культурно-развлекательные мероприятия. На 9 мая убирались в домах участников Великой Отечественной Войны, проводили концерты в доме престарелых.'
        - 'На протяжении нескольких лет с помощью социальных сетей на постоянной основе мною была оказана материальная помощь: бездомным животным, детям, оставшимся без попечения родителей, матерям-одиночкам, малоимущим семьям, больным детям, в связи с этим зародилась идея открыть фонд.'
        - 'Благотворительность- проявление сострадания к ближнему и нравственная обязанность имущего спешить на помощь неимущему.'
        - 'У вас может не быть ресурсов, чтобы накормить тысячу людей, но если вы с любовью накормите одного человека или животного, то в целом жизнь прожита не зря.'
        - 'Как сказала мать Тереза: "Не все из нас могут делать великие дела. Но мы можем делать маленькие дела с большой любовью".'
    quoteAuthor: Президент ЧФ “Фонд социального развития “Құмай” - Имамбаева Адель Назымбековна.
    ourLetters: Благодарственные письма

kk:
    title: Қор туралы
    createdFor: '<b>«Құмай» қоғамдық даму қоры</b> - коммерциялық емес ұйым мақсаттар'
    goals:
      - title: азаматтардың кәсіби және әуесқойлық мүдделерін қанағаттандыру;
        icon: lightbulb
      - title: әлеуметтік-мәдени құқықтары мен бостандықтарын жүзеге асыру және қорғау, азаматтардың белсенділігін дамыту;
        icon: shield
      - title: Қазақстан Республикасы аймақтарының әлеуметтік-экономикалық дамуы;
        icon: thumbs-up
      - title: ұқсас халықаралық және қазақстандық қоғамдық ұйымдармен ынтымақтастық және өзара іс-қимыл;
        icon: handshake
      - title: мәдени-ағарту, спорттық-сауықтыру жұмыстарын жүргізу.
        icon: seedling
    presidentSay: Президент Жолдауы
    quotes:
        - 'Сіз жасыңызға, материалдық байлығыңызға және физикалық қабілетіңізге қарамастан меценат бола аласыз. Менің қайырымдылықпен танысуым мектептен басталды. Сыныбыммен балалар үйіне аниматор болып киініп барып, мәдени ойын-сауық шараларын ұйымдастырдық. 9 мамырда олар Ұлы Отан соғысына қатысушылардың үйлерін жинап, қарттар үйінде концерттер қойды.'
        - 'Мен бірнеше жылдан бері әлеуметтік желілердің көмегімен тұрақты түрде материалдық көмек көрсетіп келемін: қаңғыбас жануарларға, ата-анасының қамқорлығынсыз қалған балаларға, жалғыз басты аналарға, аз қамтылған отбасыларға, ауру балаларға, осыған байланысты идея қор ашу үшін дүниеге келген.'
        - 'Қайырымдылық – жақынға жанашырлық таныту және иесінің жоққа көмекке асығу моральдық міндеті.'
        - 'Мың адамды тамақтандыруға мүмкіндігіңіз жоқ болуы мүмкін, бірақ бір адамды немесе жануарды сүйіспеншілікпен тамақтандырсаңыз, жалпы өміріңіз босқа кетпейді.'
        - 'Тереза ​​ана айтқандай: "Біз бәріміз де үлкен істер жасай алмаймыз. Бірақ біз кішкентай нәрселерді үлкен сүйіспеншілікпен жасай аламыз".'
    quoteAuthor: «Құмай» қоғамдық даму қоры» Қара теңіз қорының президенті - Имамбаева Адель Назимбекқызы.
    ourLetters: Алғыс хаттары

letters:
  - thumb: '/assets/img/letter-1-thumb.jpg'
    original: '/assets/pdf/letter-1.pdf'
  - thumb: '/assets/img/letter-2-thumb.jpg'
    original: '/assets/pdf/letter-2.pdf'
---

section(class="sm:py-16").py-8.space-y-8
    .max-w-screen-xl.w-full.mx-auto.px-4
        h2.text-2xl.font-medium.mb-8.text-center.font-rubik= title

        div(class="sm:flex-row-reverse").flex.flex-col.gap-8
            .w-full
                img(src="/assets/img/banner-2.jpg" alt="").rounded-tr-3xl.rounded-bl-3xl

            .w-full.space-y-2
                p!= createdFor

                ul.space-y-2
                    each goal in goals
                        li
                            i(class=`fa-solid fa-${goal.icon} w-5 mr-2 text-primary-tiffany text-center`)
                            span= goal.title
        
section(class="sm:py-16").py-8
    .max-w-screen-xl.w-full.mx-auto.px-4
        h2.text-2xl.font-medium.mb-8.text-center.font-rubik= presidentSay

        div(class="sm:flex-row").flex.flex-col.gap-8
            div(class="sm:w-1/3 sm:shrink-0").w-full
                img(src="/assets/img/president.jpg" alt="Foundation president").rounded-tr-3xl.rounded-bl-3xl

            .space-y-4
                blockquote.border-l-4.pl-4.border-primary-white.space-y-4
                    each quote in quotes
                        p.break-words= quote

                p.font-medium.text-right.text-gray-700.font-rubik.text-primary-gray= quoteAuthor

section(class="sm:py-16").py-8
    .max-w-screen-xl.w-full.mx-auto.px-4
        h2.text-2xl.font-medium.mb-8.text-center.font-rubik= ourLetters

        .flex.gap-4.justify-center
            each letter in letters
                a(href=letter.original target="_blank")
                    img(src=letter.thumb alt="Thanksgiving letters").rounded.shadow.border.border-primary-white.max-h-72