---
styles:
  - "https://cdn.jsdelivr.net/npm/swiper@9.1.0/swiper-bundle.min.css"
  
scripts:
  - "https://cdn.jsdelivr.net/npm/swiper@9.1.0/swiper-bundle.min.js"

ru:
    title: О фонде
    createdFor: '<b>«Фонд социального развития «Құмай»</b> - некоммерческая организация, созданная с целью'
    goals:
      - title: финансовой помощи социально незащищенным группам;
        icon: lightbulb
      - title: популяризации благотворительной деятельности, поддержки проектов, направленных на защиту социальных и культурных прав и свобод граждан;
        icon: shield
      - title: продвижения инициатив по социальному развитию регионов Республики Казахстан;
        icon: thumbs-up
      - title: укрепления сотрудничества и взаимодействия между международными и казахстанскими благотворительными организациями;
        icon: handshake
      - title: продвижения здорового образа жизни в обществе.
        icon: seedling
    presidentSay: Обращение президента
    quotes:
        - 'Благотворительность, филантропия, спонсорство – порой эти слова звучат высокопарно, и я не раз встречалась с представлением о них как о каком-то особом виде деятельности, доступном только очень богатым людям, хотя слова эти об очень простых вещах, о том, что понятно и знакомо каждому – о человеческой доброте. Заниматься благотворительностью значит буквально «творить благо», делать людям добро. Для этого не нужны какие-то особые условия, кроме внутренней потребности помочь нуждающемся. Быть благотворителем может человек любого достатка, возраста и способностей.'
        - 'Например, мое знакомство с благотворительностью началось еще в школе. Мы с классом ходили в детские дома, переодевшись в костюмы аниматоров, и дарили малышам ощущение праздника. На 9 мая мы приходили в гости к ветеранам Великой Отечественной Войны и делали уборку в их домах, или посещали дом престарелых и устраивали для них праздничный концерт.'
        - 'Позже уже я стала помогать, получая информацию о нуждающихся через социальные сети. Я начала отправлять деньги бездомным животным, детям, оставшимся без попечения родителей, матерям-одиночкам, малоимущим семьям, больным детям… Так и зародилась идея открыть благотворительный фонд, через который каждый сможет проявить чувство сострадания к ближнему или оказать помощь неимущему, что я считаю нравственной обязанностью любого человека.'
        - 'Фонд социального развития «Құмай» готов помочь каждому, кто нуждается в поддержке и каждому, кто хочет поддержать нуждающегося. У вас может не быть ресурсов, чтобы накормить тысячу людей, но если вы с любовью накормите одного человека или одно животное, то ваша жизнь прожита не зря. Как сказала мать Тереза: "Не все из нас могут делать великие дела. Но мы можем делать маленькие дела с большой любовью".'
    quoteAuthor: Президент ЧФ “Фонд социального развития “Құмай” - Имамбаева Адель Назымбековна.
    ourLetters: Благодарственные письма
    mission: Миссия «Фонда социального развития «Құмай» - <u>помочь</u> каждому, кто нуждается в поддержке. Мы помогаем детям, оказавшимся в трудной жизненной ситуации, женщинам, ставшим жертвами бытового насилия, людям с особыми потребностями, а также больным, состояние которых требует дорогостоящих операций, или особого ухода.

kk:
    title: Қор туралы
    createdFor: '<b>«Құмай» қоғамдық даму қоры</b> - коммерциялық емес ұйым мақсаттар'
    goals:
      - title: халықтың әлеуметтік осал топтарына материалдық көмек көрсету;
        icon: lightbulb
      - title: қайырымдылық қызметке жәрдемдесу, азаматтардың әлеуметтік-мәдени құқықтары мен бостандықтарын қорғауға бағытталған жобаларды қолдау;
        icon: shield
      - title: Қазақстан Республикасы аймақтарының әлеуметтік дамуының бастамаларына жәрдемдесу;
        icon: thumbs-up
      - title: халықаралық және қазақстандық қайырымдылық ұйымдары арасындағы ынтымақтастық пен өзара іс-қимылды нығайту;
        icon: handshake
      - title: қоғамда салауатты өмір салтын насихаттау.
        icon: seedling
    presidentSay: Президент Жолдауы
    quotes:
        - 'Қайырымдылық, қайырымдылық, демеушілік - кейде бұл сөздер әсем естіледі және мен бұл сөздер өте қарапайым нәрселер туралы болса да, мен оларды тек өте бай адамдарға қол жетімді қызметтің қандай да бір ерекше түрі ретінде бірнеше рет кездестірдім. , барлығына түсінікті және таныс нәрсе туралы - адамдық мейірімділік туралы. Қайырымдылық жасау – сөзбе-сөз «жақсылық жасау», адамдарға жақсылық жасау дегенді білдіреді. Бұл мұқтаждарға көмектесу үшін ішкі қажеттіліктен басқа ешқандай ерекше шарттарды қажет етпейді. Кез келген дәулеті, жасы, қабілеті бар адам қайырымды бола алады.'
        - 'Мысалы, менің қайырымдылықпен танысуым мектептен басталды. Сыныбым екеуміз балалар үйіне барып, аниматор болып киініп, балаларға мерекелік көңіл-күй сыйладық. 9 мамыр күні Ұлы Отан соғысы ардагерлеріне қонаққа келіп, үйлерін тазаладық немесе қарттар үйіне барып, оларға мерекелік концерт ұйымдастырдық.'
        - 'Кейін әлеуметтік желі арқылы мұқтаж жандар туралы ақпарат алып, көмектесе бастадым. Мен панасыз жануарларға, ата-анасының қамқорлығынсыз қалған балаларға, жалғызбасты аналарға, аз қамтылған отбасыларға, ауру балаларға ақша жібере бастадым... Әр адам көршісіне жанашырлық танытатын немесе көмектесетін қайырымдылық қорын ашу идеясы осылай туды. адамгершілікті әрбір адамның міндеті деп санайтын кедейлер.'
        - '«Құмай» әлеуметтік даму қоры қолдауға мұқтаж жандарға және көмекке мұқтаж жанға қолдау көрсетуге дайын. Мың адамды тамақтандыруға мүмкіндігіңіз жоқ шығар, бірақ бір адамды немесе бір жануарды сүйіспеншілікпен тамақтандырсаңыз, сіздің өміріңіз зая кеткен жоқ. Тереза ​​ана айтқандай: "Біз бәріміз де үлкен істер жасай алмаймыз. Бірақ біз кішкентай нәрселерді үлкен сүйіспеншілікпен жасай аламыз".'
    quoteAuthor: «Құмай» қоғамдық даму қоры» Қара теңіз қорының президенті - Имамбаева Адель Назимбекқызы.
    ourLetters: Алғыс хаттары
    mission: «Құмай» қоғамдық даму қорының миссиясы – қолдауды қажет ететін әрбір адамға <u>көмектесу</u>. Біз қиын өмірлік жағдайдағы балаларға, тұрмыстық зорлық-зомбылық құрбаны болған әйелдерге, ерекше қажеттіліктері бар адамдарға, сондай-ақ жағдайы қымбат операцияларды немесе ерекше күтімді қажет ететін науқастарға көмектесеміз.

letters:
  - thumb: '/assets/img/letter-1-thumb.jpg'
    original: '/assets/pdf/letter-1.pdf'
  - thumb: '/assets/img/letter-2-thumb.jpg'
    original: '/assets/pdf/letter-2.pdf'
  - thumb: '/assets/img/letter-3-thumb.jpg'
    original: '/assets/pdf/letter-3.pdf'
  - thumb: '/assets/img/letter-4-thumb.jpg'
    original: '/assets/pdf/letter-4.pdf'
  - thumb: '/assets/img/letter-5-thumb.jpg'
    original: '/assets/pdf/letter-5.pdf'
  - thumb: '/assets/img/letter-6-thumb.jpg'
    original: '/assets/pdf/letter-6.pdf'
  - thumb: '/assets/img/letter-7-thumb.jpg'
    original: '/assets/pdf/letter-7.pdf'
  - thumb: '/assets/img/letter-8-thumb.png'
    original: '/assets/pdf/letter-8.pdf'
  - thumb: '/assets/img/letter-9-thumb.png'
    original: '/assets/pdf/letter-9.pdf'
---

section(class="sm:py-16").py-8.space-y-8
    .max-w-screen-xl.w-full.mx-auto.px-4
        h2.text-2xl.font-medium.mb-8.text-center.font-rubik= title

        div(class="sm:flex-row-reverse").flex.flex-col.gap-8
            .w-full
                img(src="/assets/img/banner-2.jpg" alt="").rounded-tr-3xl.rounded-bl-3xl

            .w-full.space-y-2
                p!= createdFor

                ul.space-y-2
                    each goal in goals
                        li
                            i(class=`fa-solid fa-${goal.icon} w-5 mr-2 text-primary-tiffany text-center`)
                            span= goal.title
                            
section(class="sm:py-8").py-8
    .max-w-screen-xl.w-full.mx-auto.px-4
        .p-4.rounded-tr-2xl.rounded-tl-2xl.rounded-bl-2xl.bg-primary-tiffany.shadow-xl
          p(style="text-shadow: 1px 1px 2px rgba(0,0,0,0.5);").text-white.leading-7!= mission
        
section(class="sm:py-16").py-8
    .max-w-screen-xl.w-full.mx-auto.px-4
        h2.text-2xl.font-medium.mb-8.text-center.font-rubik= presidentSay

        div(class="sm:flex-row").flex.flex-col.gap-8
            div(class="sm:w-1/3 sm:shrink-0").w-full
                img(src="/assets/img/president.jpg" alt="Foundation president").rounded-tr-3xl.rounded-bl-3xl

            .space-y-4
                blockquote.border-l-4.pl-4.border-primary-white.space-y-4
                    each quote in quotes
                        p.break-words= quote

                p.font-medium.text-right.text-gray-700.font-rubik.text-primary-gray= quoteAuthor

section(class="sm:py-16").py-8
    .max-w-screen-xl.w-full.mx-auto.px-4
        h2.text-2xl.font-medium.mb-8.text-center.font-rubik= ourLetters

        .overflow-hidden.relative
          div(class="flex z-20 !pointer-events-auto").swiper-button-prev.text-primary-tiffany.top-4.h-full.left-0.px-6
          div(class="flex z-20").swiper-button-next.text-primary-tiffany.top-4.h-full.right-0.px-6
          .swiper
            .swiper-wrapper
              div(class="hidden sm:block").swiper-pagination

              each letter in letters
                .swiper-slide.w-full
                  a(href=letter.original target="_blank")
                    img(src=letter.thumb alt="Thanksgiving letter" class="max-h-[600px]").rounded-xl.border

script
  | document.addEventListener('DOMContentLoaded', () => {
  |   const swiper = new Swiper('.swiper', {
  |     speed: 400,
  |     spaceBetween: 100,
  |     effect: 'cards',
  |     navigation: {
  |       nextEl: ".swiper-button-next",
  |       prevEl: ".swiper-button-prev",
  |     },
  |     pagination: {
  |       el: ".swiper-pagination",
  |       bulletActiveClass: "bullet-active"
  |     },
  |     autoplay: {
  |       delay: 3000,
  |     },
  |     cardsEffect: {
  |       perSlideOffset: 30,
  |       slideShadows: false,
  |     }
  |   })
  | })