---
ru:
    createdFor: 'Фонд социального развития "Құмай" - некоммерческая организация, созданная с целью'
    goals:
      - title: удовлетворения профессиональных и любительских интересов граждан;
        icon: lightbulb
      - title: реализации и защиты социальных и культурных прав и свобод, развитие активности граждан;
        icon: shield
      - title: социально-экономическое развитие регионов Республики Казахстан;
        icon: thumbs-up
      - title: сотрудничество и взаимодействие с аналогичными общественными международными и казахстанскими организациями.
        icon: handshake
    quotes:
        - 'Быть благотворителем можно независимо от возраста, материального достатка и физических способностей. Мое знакомство с благотворительностью началось еще в школе. Мы с классом ходили в детские дома переодеваясь в аниматоров и устраивали культурно-развлекательные мероприятия. На 9 мая убирались в домах участников Великой Отечественной Войны, давали концерты в доме престарелых.'
        - 'На протяжении нескольких лет с помощью социальных сетей на постоянной основе мною была оказана материальная помощь: бездомным животным, детям, оставшимся без попечения родителей, матерям-одиночкам, малоимущим семьям, больным детям, в связи с этим зародилась идея открыть фонд.'
        - 'Благотворительность- проявление сострадания к ближнему и нравственная обязанность имущего спешить на помощь неимущему.'
        - 'У вас может не быть ресурсов, чтобы накормить тысячу людей, но если вы с любовью накормите одного человека или животного, то в целом жизнь прожита не зря.'
        - '"Не все из нас могут делать великие дела. Но мы можем делать маленькие дела с большой любовью". - Мать Тереза'
    quoteAuthor: 
        name: Имамбаева Адель Назымбековна
        pos: 'Президент ЧФ "Фонд социального развития "Құмай"'

kz:
    createdFor: 'Фонд социального развития "Құмай" - некоммерческая организация, созданная с целью'
    goals:
      - title: удовлетворения профессиональных и любительских интересов граждан;
        icon: lightbulb
      - title: реализации и защиты социальных и культурных прав и свобод, развитие активности граждан;
        icon: shield
      - title: социально-экономическое развитие регионов Республики Казахстан;
        icon: thumbs-up
      - title: сотрудничество и взаимодействие с аналогичными общественными международными и казахстанскими организациями.
        icon: handshake
    quotes:
        - 'Быть благотворителем можно независимо от возраста, материального достатка и физических способностей. Мое знакомство с благотворительностью началось еще в школе. Мы с классом ходили в детские дома переодеваясь в аниматоров и устраивали культурно-развлекательные мероприятия. На 9 мая убирались в домах участников Великой Отечественной Войны, давали концерты в доме престарелых.'
        - 'На протяжении нескольких лет с помощью социальных сетей на постоянной основе мною была оказана материальная помощь: бездомным животным, детям, оставшимся без попечения родителей, матерям-одиночкам, малоимущим семьям, больным детям, в связи с этим зародилась идея открыть фонд.'
        - 'Благотворительность - проявление сострадания к ближнему и нравственная обязанность имущего спешить на помощь неимущему.'
        - 'У вас может не быть ресурсов, чтобы накормить тысячу людей, но если вы с любовью накормите одного человека или животного, то в целом жизнь прожита не зря.'
        - '"Не все из нас могут делать великие дела. Но мы можем делать маленькие дела с большой любовью". - Мать Тереза'
    quoteAuthor: 
        name: Имамбаева Адель Назымбековна
        pos: 'Президент ЧФ "Фонд социального развития "Құмай"'
---

section.py-8
    .max-w-screen-xl.w-full.mx-auto.px-4
        h2.text-2xl.font-medium.mb-8.text-center.text-primary-blue О фонде

        h3.mb-2= createdFor

        ul.space-y-2.mb-8
            each goal in goals
                li
                    i(class=`fa-solid fa-${goal.icon} w-5 mr-2 text-primary-blue`)
                    span= goal.title

        i.fa-solid.fa-quote-left.text-2xl.text-primary-blue

        .border-l-4.pl-4.border-gray-300.space-y-4.mb-4
            each quote in quotes
                p.break-words= quote

        p.font-medium.text-right.text-gray-700= quoteAuthor.name
        p.text-gray-500.text-right.text-sm= quoteAuthor.pos