---
styles:
  - "https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/css/splide.min.css"

scripts:
  - "https://identity.netlify.com/v1/netlify-identity-widget.js"
  - "https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"
  - "/assets/js/carousel.js"

noTitleInHead: true

ru:
    title: Фонд социального развития "Құмай"
    goalsTitle: Наши цели
    goals:
      - title: Финансовая помощь социально незащищенным группам
        icon: lightbulb
      - title: Популяризация благотворительной деятельности, поддержка проектов, направленных на защиту социальных и культурных прав и свобод граждан
        icon: shield
      - title: Продвижение инициатив по социальному развитию регионов Республики Казахстан
        icon: thumbs-up
      - title: Укрепление сотрудничества и взаимодействия между международными и казахстанскими благотворительными организациями
        icon: handshake
      - title: Продвижение здорового образа жизни в обществе
        icon: seedling
    newsTitle: Новости
    goToNews: Больше новостей
    help: Помочь
    for_entity: Для юридических лиц
    entity_requisites:
      - key: Клиент
        value: ЧФ "Фонд социального развития "Құмай"
      - key: БИН
        value: 221240014916
      - key: Номер счета
        value: KZ4196503F0011880104 KZT
      - key: КБе
        value: 18
      - key: БИК
        value: IRTYKZKA
      - key: Наименование Банка
        value: Филиал АО "ForteBank" в г. Астана
    for_individual: Для физических лиц
    individual_requisites:
      - key: Номер карты
        value: 4042 4583 1352 1009

kk:
    title: «Құмай» қоғамдық даму қоры»
    goalsTitle: Біздің мақсаттар
    goals:
      - title: Әлеуметтік жағынан аз қамтылған топтарға материалдық көмек
        icon: lightbulb
      - title: Қайырымдылық шараларын танымал ету, азаматтардың әлеуметтік-мәдени құқықтары мен бостандықтарын қорғауға бағытталған жобаларды қолдау
        icon: shield
      - title: Қазақстан Республикасы аймақтарының әлеуметтік дамуы жөніндегі бастамаларды ілгерілету
        icon: thumbs-up
      - title: Халықаралық және қазақстандық қайырымдылық ұйымдары арасындағы ынтымақтастық пен өзара іс-қимылды нығайту
        icon: handshake
      - title: Қоғамда салауатты өмір салтын насихаттау
        icon: seedling
    newsTitle: Жаңалықтар
    goToNews: Барлық жаңалықтарға өту
    help: Көмектесу
    for_entity: Заңды тұлғалар үшін
    entity_requisites:
      - key: Клиент
        value: ЧФ "Фонд социального развития "Құмай"
      - key: БИН
        value: 221240014916
      - key: Шот нөмірі
        value: KZ4196503F0011880104 KZT
      - key: КБе
        value: 18
      - key: 'БСК (БИК)'
        value: IRTYKZKA
      - key: Банктің атауы
        value: Филиал АО "ForteBank" в г. Астана
    for_individual: Жеке тұлғалар үшін
    individual_requisites:
      - key: Карта нөмірі
        value: 4042 4583 1352 1009
---

section(class="sm:py-16").py-8.space-y-8
    .max-w-screen-xl.w-full.mx-auto.px-4
        div(class="sm:flex-row sm:gap-8").flex.flex-col.gap-4
            div(class="sm:w-1/2").w-full
                img(src="/assets/img/banner-1.jpg" alt="").rounded-tr-3xl.rounded-bl-3xl

            div(class="sm:w-1/2 sm:space-y-8 sm:items-start").flex.flex-col.items-center.w-full.space-y-2.py-2
                h1(class="sm:text-left sm:mb-0").text-3xl.font-medium.text-center.font-rubik.mb-8= title
                
                div(aria-labelledby="carousel-heading").splide.w-full
                    h2(class="sm:text-left")#carousel-heading.text-center= `${goalsTitle}:`

                    .splide__track
                        .splide__list
                            each goal in goals
                                .splide__slide
                                    .flex.items-center.gap-4.p-4.rounded-xl
                                        i(class=`fa-solid fa-${goal.icon} text-xl w-5 text-primary-tiffany text-center`)
                                        span.break-word= goal.title

                a(href="#help").bg-primary-tiffany.text-white.px-8.py-4.rounded-full.inline-flex.items-center.gap-2.text-center
                    i.fa-solid.fa-hand-holding-heart
                    span= help

- const news = search.pages(`news lang=${lang}`, 'created_at=desc', 4)

section(class="sm:py-16").py-8
    .max-w-screen-xl.w-full.mx-auto.px-4
        .flex.flex-col.items-center
            h2.text-2xl.font-medium.mb-8.text-center.font-rubik= newsTitle

            div(class="sm:grid-cols-2 sm:gap-4").grid.mb-8
                each article, i in news
                    a(href=article.data.url class="last:border-0 focus:bg-gray-100 rounded-2xl sm:flex sm:gap-4 sm:px-4").block.py-4.w-full.leading-5.space-y-2
                        div(class="sm:w-1/2 max-h-48").w-full.h-full
                            img(src=article.data.preview_image alt="Preview").rounded-xl.w-full.h-full.object-cover

                        .space-y-2.w-full
                            p.font-rubik.text-xl= article.data.title
                            time(data-relative-time).block.text-xs.text-primary-gray.text-ellipsis.overflow-hidden.whitespace-nowrap= article.data.created_at

                    div(class="sm:hidden")
                        if i !== news.length - 1
                            hr.h-px.bg-gray-300.border-0

            a(href=`/${lang}/news`).p-4.rounded-xl.text-primary-tiffany.flex.items-center.gap-2
                span= goToNews
                i.fa-solid.fa-arrow-right.text-sm


div(id="help" class="invisible target:visible opacity-0 target:opacity-100 transition-all fixed top-0 left-0 right-0 bottom-0 z-30 group").flex.justify-center.items-center.p-4
    .bg-white.m-auto.max-w-screen-md.w-full.p-4.rounded-xl.space-y-4
        h2.text-lg.font-medium.mb-4.text-left.font-rubik= for_entity

        table.w-full
            thead
                tr
                    th
                    th
            tbody
                each requisite in entity_requisites
                    tr(class="last:border-0").border-b.border-gray-300
                        td.p-2.text-primary-gray= requisite.key
                        td.p-2= requisite.value
                        
        h2.text-lg.font-medium.mb-4.text-left.font-rubik= for_individual

        table.w-full
            thead
                tr
                    th
                    th
            tbody
                each requisite in individual_requisites
                    tr(class="last:border-0").border-b.border-gray-300
                        td.p-2.text-primary-gray= requisite.key
                        td.p-2= requisite.value



    a(href="#" class="absolute top-0 left-0 right-0 bottom-0 bg-black/75 -z-10")