---
ru:
    ourProjects: Наши проекты
    more: Подробнее

kk:
    ourProjects: Наши проекты
    more: Подробнее
---

- const projects = search.pages(`projects lang=${lang}`, 'date=desc')

section(class="sm:py-16").py-8
    .max-w-screen-xl.w-full.mx-auto.px-4
        h2.text-2xl.font-medium.mb-8.text-center.font-rubik= ourProjects

        div(class="sm:grid-cols-3").grid.gap-8
            each project in projects
                .flex.flex-col.gap-4.justify-between
                    a(href=project.data.url).h-72.w-full
                        img(src=project.data.main_image alt="Charity project").rounded-bl-3xl.rounded-tr-3xl.w-full.h-full.object-cover

                    a(href=project.data.url).space-y-2.flex-grow
                        p.font-bold.text-xl.w-full= project.data.title
                        p.text-gray-500.w-full.text-ellipsis.overflow-hidden.whitespace-nowrap.w-full!= filters.md(project.data.content, true)

                    a(href=project.data.url).bg-primary-tiffany.text-white.p-4.rounded-xl.block.text-center.font-bold= more